body {
  background-color: var(--ip-light-dim-grey);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.add_employee_container {
  margin: 40px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  background-color: var(--ip-white);
  color: var(--ip-dark-secondary);
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  text-align: center;
}

.add_employee_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
}

.add_employee_col {
  margin: 16px;
}

label {
  display: block;
  text-align: left;
  padding-bottom: 10px;
  padding-left: 5px;
  font-size: 14px;
  font-weight: 500;
  color: #9e9e9e;
}

.form_title {
  text-align: left;
  width: 100%;
  font-size: 30px;
  padding-top: 40px;
  padding-left: 50px;
}

input,
select {
  width: 200px;
  border: 1px solid #ccc;
  outline: unset;
  height: 26px;
  border-radius: 4px;
  padding-left: 10px;
  color: #4e4e4e;
}

input[type="button"] {
  background-color: var(--ip-medium-blue);
  color: var(--ip-white);
  font-size: 14px;
  width: 260px;
  height: 48px;
  border-radius: 6px;
  margin-top: 30px;
}

input[type="button"]:hover {
  cursor: pointer;
}

.footnote {
  font-size: 12px;
  padding-bottom: 10px;
}
