@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@media only screen and (min-width: 1024px) {
  :root {
    --ip-dark-primary: #272b32;
    --ip-white: #fff;
    --ip-light-grey: #f6f6fd;
    --ip-medium-blue: #1e8dff;
    --ip-blue: #2e69f7;
    --ip-sea-blue: #03dbf9;
    --ip-dark-secondary: #474b50;
    --ip-orange: #ff8a1e;
    --ip-dim-grey: #3f3f3f;
  }
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  body {
    font-family: inter;
    text-align: center;
    overflow: scroll;
  }
}
