@media only screen and (min-width: 1024px) {
  body {
    background-color: var(--ip-light-grey);
    /* overflow-x: hidden; */
  }
  .ip-flex-container {
    width: 70vw;
    display: flex;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 0 auto;
  }
  .ip-flex-container > div {
    width: 200px;
    height: 200px;
    background-color: var(--ip-dark-primary);
    margin: 40px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
  }

  .account-card-icon {
    width: 60px;
    height: 60px;
  }
  .account-card-title {
    margin: unset;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
    color: var(--ip-white);
  }
  .account-card-figure {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin: unset;
    color: var(--ip-white);
  }
  .ip-flex-container > div:nth-child(1):hover,
  div:nth-child(2):hover {
    cursor: not-allowed;
  }
  .ip-flex-container > div:nth-child(3):hover,
  div:nth-child(4):hover {
    cursor: pointer;
  }
}
