@media only screen and (min-width: 1024px) {
  body {
    background-color: var(--ip-light-grey);
  }
  .employees-detail-section {
    width: 95%;
    background-color: var(--ip-white);
    height: 100%;
    overflow: scroll;
    margin: 40px auto;
  }
  .payroll-heading-text {
    font-size: 40px;
    padding: 20px 0;
  }
  .payroll-heading-text + hr {
    width: 340px;
    margin: 0 auto;
  }
  #table_id_wrapper {
    padding: 10px;
    overflow: scroll;
  }
}
