body {
  width: 100%;
  height: 100vh;
  background-color: var(--ip-light-grey);
  background-color: #f6f6fd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.reset_password_container {
  width: 440px;
  height: 500px;
  background-color: var(--ip-white);
  color: var(--ip-dark-secondary);
  margin: 40px;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.reset_password__col > div > label {
  display: block;
  padding: 10px 0 5px 5px;
  font-size: 14px;
  font-weight: 500;
  color: #9e9e9e;
  text-align: left !important;
}

.reset_form_title {
  text-align: center;
  width: 100%;
  height: auto;
  padding: 30px 0;
  font-size: 30px;
}
/* .reset_password__col {

} */
.reset_password__col > div {
  display: block;
  width: 60%;
  margin: 0 auto;
}

.reset_password__col > div > input {
  width: 100%;
  height: 3;
  border: 1px solid #ccc;
  outline: unset;
  border-radius: 4px;
  padding-left: 10px;
  margin: 10px 0;
}

.reset_password__col > div > input[type="button"] {
  background-color: var(--ip-medium-blue);
  color: var(--ip-white);
  font-size: 14px;
  width: 100%;
  height: 40px;
  border-radius: 6px;
}

.reset_password__col > div > input[type="button"]:hover {
  cursor: pointer;
}

.reset_password__col > div > .footnote {
  font-size: 12px;
  padding-bottom: 10px;
}

.reset_footnote {
  font-size: 12px;
  text-align: center;
  padding: 10px 0;
}

#payslip_container {
  height: 400px !important;
  margin-top: 120px;
}
