@media only screen and (min-width: 1024px) {
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  body {
    text-align: unset;
  }
  .login-section {
    width: 100%;
    height: 100vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3fr;
    grid-template-columns: 1fr 3fr;
    overflow: hidden;
  }
  .login-section > div:nth-child(1) {
    width: 400px;
  }
  .login-section > div:nth-child(1) > div > img {
    width: 70%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 70px;
  }
  .login-section > div:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: var(--ip-dark-secondary);
    background-image: url("../img/blur.jpg");
    background-blend-mode: multiply;
  }
  .login-form,
  .signup-form {
    width: 44%;
    height: 500px;
    background-color: var(--ip-dark-primary);
    border-radius: 10px;
    padding: 40px 40px;
  }
  .signup-form > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .signup-form {
    width: 88%;
    height: auto;
    padding: 20px 20px;
  }
  .login-form-input {
    display: block;
  }
  #login_email,
  #login_password,
  #signup_email,
  #signup_username,
  .signup_password {
    margin: 30px 0;
    width: 100%;
    height: 40px;
    border: unset;
    border-bottom: 1px solid #ccc;
    outline: unset;
    background-color: unset;
    padding-left: 20px;
    color: var(--ip-white);
  }
  #login_password {
    margin-bottom: 60px;
  }
  #signup_email,
  #signup_username,
  .signup_password {
    width: 360px;
    margin: 10px;
  }
  #signup_email {
    margin-right: 20px;
  }
  .signup-form > div:nth-child(2) > div:nth-child(2) > * {
    margin-left: 20px;
  }
  .signup-form:last-child {
    text-align: center;
  }
  label {
    color: var(--ip-white);
    font-size: 18px;
    display: block;
    text-align: left;
  }
  .login_button,
  .signup_button {
    width: 100%;
    height: 58px;
    background-color: var(--ip-blue);
    border-radius: 10px;
    border: unset;
    outline: unset;
    color: var(--ip-white);
    font-size: 20px;
    cursor: pointer;
  }
  .signup_button {
    width: 360px;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
  }
  .form-medium-text {
    font-size: 16px;
    color: var(--ip-white);
    text-align: center;
    padding-top: 35px;
  }
  .login-illustration {
    height: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  .login-heading-text {
    padding-top: 40px;
    font-size: 70px;
    text-align: center;
  }
  .login-heading-text + h6 {
    text-align: center;
  }
  .input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .input-group > div > label {
    margin: 20px 0;
  }

  .link {
    color: var(--ip-white) !important;
    text-decoration: underline;
  }
}
